.header-name{
    font-size: larger;
    color: black;
    font-weight: 500;
}
.cell-name{
    background-color: white;
    color: black;
    padding: 8px;
}
input-disabled {
    background-color: greenyellow;
    cursor: not-allowed;
}